# Data Pipeline

# Reading Data from the Source using Pandas

In [1]:
import pandas as pd

In [2]:
df_battles = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Game of thrones project\battles.csv')
df_character_deaths = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Game of thrones project\character-deaths.csv')
df_character_predictions = pd.read_csv(r'C:\Users\BALA\OneDrive\Desktop\GUVI\Game of thrones project\character-predictions.csv')

# Data Cleaning

## attacker_2,attacker_3,attacker_4,defender_2,defender_3,defender_4,note columns are with lot of NaN values so removing those

In [3]:
df_battles = df_battles.drop(['attacker_2','attacker_3','attacker_4','defender_2','defender_3','defender_4','note'],axis = 1)

## In attacker_outcome column 1 means win and 0 means loss. So giving respective names.

In [4]:
df_battles['attacker_outcome']=df_battles['attacker_outcome'].replace([1,'Win'],[0,'Loss'])

## Filling NaN values in attacker_size column with the Mean value

In [5]:
x = df_battles['attacker_size'].mean()
df_battles['attacker_size'].fillna(x,inplace = True)

## Filling NaN values in defender_size column with the Mean value

In [6]:
x = df_battles['defender_size'].mean()
df_battles['defender_size'].fillna(x,inplace = True)

In [7]:
df_battles

,name,year,battle_number,attacker_king,defender_king,attacker_1,defender_1,attacker_outcome,battle_type,major_death,major_capture,attacker_size,defender_size,attacker_commander,defender_commander,summer,location,region
0,Battle of the Golden Tooth,298,1,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,win,pitched battle,1.0,0.0,15000.000000,4000.000000,Jaime Lannister,"Clement Piper, Vance",1.0,Golden Tooth,The Westerlands
1,Battle at the Mummer's Ford,298,2,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Baratheon,win,ambush,1.0,0.0,9942.541667,120.000000,Gregor Clegane,Beric Dondarrion,1.0,Mummer's Ford,The Riverlands
2,Battle of Riverrun,298,3,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,win,pitched battle,0.0,1.0,15000.000000,10000.000000,"Jaime Lannister, Andros Brax","Edmure Tully, Tytos Blackwood",1.0,Riverrun,The Riverlands
3,Battle of the Green Fork,298,4,Robb Stark,Joffrey/Tommen Baratheon,Stark,Lannister,loss,pitched battle,1.0,1.0,18000.000000,20000.000000,"Roose Bolton, Wylis Manderly, Medger Cerwyn, H...","Tywin Lannister, Gregor Clegane, Kevan Lannist...",1.0,Green Fork,The Riverlands
4,Battle of the Whispering Wood,298,5,Robb Stark,Joffrey/Tommen Baratheon,Stark,Lannister,win,ambush,1.0,1.0,1875.000000,6000.000000,"Robb Stark, Brynden Tully",Jaime Lannister,1.0,Whispering Wood,The Riverlands
5,Battle of the Camps,298,6,Robb Stark,Joffrey/Tommen Baratheon,Stark,Lannister,win,ambush,0.0,0.0,6000.000000,12625.000000,"Robb Stark, Tytos Blackwood, Brynden Tully","Lord Andros Brax, Forley Prester",1.0,Riverrun,The Riverlands
6,Sack of Darry,298,7,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Darry,win,pitched battle,0.0,0.0,9942.541667,6428.157895,Gregor Clegane,Lyman Darry,1.0,Darry,The Riverlands
7,Battle of Moat Cailin,299,8,Balon/Euron Greyjoy,Robb Stark,Greyjoy,Stark,win,pitched battle,0.0,0.0,9942.541667,6428.157895,Victarion Greyjoy,NaN,1.0,Moat Cailin,The North
8,Battle of Deepwood Motte,299,9,Balon/Euron Greyjoy,Robb Stark,Greyjoy,Stark,win,siege,0.0,0.0,1000.000000,6428.157895,Asha Greyjoy,NaN,1.0,Deepwood Motte,The North
9,Battle of the Stony Shore,299,10,Balon/Euron Greyjoy,Robb Stark,Greyjoy,Stark,win,ambush,0.0,0.0,264.000000,6428.157895,Theon Greyjoy,NaN,1.0,Stony Shore,The North
10,Battle of Torrhen's Square,299,11,Robb Stark,Balon/Euron Greyjoy,Stark,Greyjoy,win,pitched battle,0.0,0.0,244.000000,900.000000,"Rodrik Cassel, Cley Cerwyn",Dagmer Cleftjaw,1.0,Torrhen's Square,The North
11,Battle of Winterfell,299,12,Balon/Euron Greyjoy,Robb Stark,Greyjoy,Stark,win,ambush,0.0,1.0,20.000000,6428.157895,Theon Greyjoy,Bran Stark,1.0,Winterfell,The North
12,Sack of Torrhen's Square,299,13,Balon/Euron Greyjoy,Balon/Euron Greyjoy,Greyjoy,Stark,win,siege,0.0,1.0,9942.541667,6428.157895,Dagmer Cleftjaw,NaN,1.0,Torrhen's Square,The North
13,Sack of Winterfell,299,14,Joffrey/Tommen Baratheon,Robb Stark,Bolton,Stark,win,ambush,1.0,0.0,618.000000,2000.000000,"Ramsay Snow, Theon Greyjoy","Rodrik Cassel, Cley Cerwyn, Leobald Tallhart",1.0,Winterfell,The North
14,Battle of Oxcross,299,15,Robb Stark,Joffrey/Tommen Baratheon,Stark,Lannister,win,ambush,1.0,1.0,6000.000000,10000.000000,"Robb Stark, Brynden Tully","Stafford Lannister, Roland Crakehall, Antario ...",1.0,Oxcross,The Westerlands
15,Siege of Storm's End,299,16,Stannis Baratheon,Renly Baratheon,Baratheon,Baratheon,win,siege,1.0,0.0,5000.000000,20000.000000,"Stannis Baratheon, Davos Seaworth","Renly Baratheon, Cortnay Penrose, Loras Tyrell...",1.0,Storm's End,The Stormlands
16,Battle of the Fords,299,17,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,loss,pitched battle,0.0,0.0,20000.000000,10000.000000,"Tywin Lannister, Flement Brax, Gregor Clegane,...","Edmure Tully, Jason Mallister, Karyl Vance",1.0,Red Fork,The Riverlands
17,Sack of Harrenhal,299,18,Robb Stark,Joffrey/Tommen Baratheon,Stark,Lannister,win,ambush,1.0,0.0,100.000000,100.000000,"Roose Bolton, Vargo Hoat, Robett Glover",Amory Lorch,1.0,Harrenhal,The Riverlands
18,Battle of the Crag,299,19,Robb Stark,Joffrey/Tommen Baratheon,Stark,Lannister,win,ambush,0.0,0.0,6000.000000,6428.157895,"Robb Stark, Smalljon Umber, Black Walder Frey",Rolph Spicer,1.0,Crag,The Westerlands
19,Battle of the Blackwater,299,20,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Lannister,loss,pitched battle,1.0,1.0,21000.000000,7250.000000,"Stannis Baratheon, Imry Florent, Guyard Morrig...","Tyrion Lannister, Jacelyn Bywater, Sandor Cleg...",1.0,King's Landing,The Crownlands
20,Siege of Darry,299,21,Robb Stark,Joffrey/Tommen Baratheon,Darry,Lannister,win,siege,0.0,0.0,9942.541667,6428.157895,Helman Tallhart,NaN,1.0,Darry,The Riverlands
21,Battle of Duskendale,299,22,Robb Stark,Joffrey/Tommen Baratheon,Stark,Lannister,loss,pitched battle,1.0,0.0,3000.000000,6428.157895,"Robertt Glover, Helman Tallhart","Randyll Tarly, Gregor Clegane",1.0,Duskendale,The Crownlands
22,Battle of the Burning Septry,299,23,NaN,NaN,Brotherhood without Banners,Brave Companions,win,pitched battle,0.0,0.0,9942.541667,6428.157895,NaN,NaN,1.0,NaN,The Riverlands
23,Battle of the Ruby Ford,299,24,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Stark,win,pitched battle,0.0,0.0,9942.541667,6000.000000,Gregor Clegane,"Roose Bolton, Wylis Manderly",NaN,Ruby Ford,The Riverlands
24,Retaking of Harrenhal,299,25,Joffrey/Tommen Baratheon,NaN,Lannister,Brave Companions,win,pitched battle,1.0,0.0,9942.541667,6428.157895,Gregor Clegane,Vargo Hoat,1.0,Harrenhal,The Riverlands
25,The Red Wedding,299,26,Joffrey/Tommen Baratheon,Robb Stark,Frey,Stark,win,ambush,1.0,1.0,3500.000000,3500.000000,"Walder Frey, Roose Bolton, Walder Rivers",Robb Stark,1.0,The Twins,The Riverlands
26,Siege of Seagard,299,27,Robb Stark,Joffrey/Tommen Baratheon,Frey,Mallister,win,siege,0.0,1.0,9942.541667,6428.157895,Walder Frey,Jason Mallister,1.0,Seagard,The Riverlands
27,Battle of Castle Black,300,28,Stannis Baratheon,Mance Rayder,Free folk,Night's Watch,loss,siege,1.0,1.0,100000.000000,1240.000000,"Mance Rayder, Tormund Giantsbane, Harma Dogshe...","Stannis Baratheon, Jon Snow, Donal Noye, Cotte...",0.0,Castle Black,Beyond the Wall
28,Fall of Moat Cailin,300,29,Joffrey/Tommen Baratheon,Balon/Euron Greyjoy,Bolton,Greyjoy,win,siege,0.0,0.0,9942.541667,6428.157895,Ramsey Bolton,NaN,0.0,Moat Cailin,The North
29,Sack of Saltpans,300,30,NaN,NaN,Brave Companions,NaN,win,razing,0.0,0.0,9942.541667,6428.157895,Rorge,NaN,0.0,Saltpans,The Riverlands
30,Retaking of Deepwood Motte,300,31,Stannis Baratheon,Balon/Euron Greyjoy,Baratheon,Greyjoy,win,pitched battle,0.0,0.0,4500.000000,200.000000,"Stannis Baratheon, Alysane Mormot",Asha Greyjoy,0.0,Deepwood Motte,The North
31,Battle of the Shield Islands,300,32,Balon/Euron Greyjoy,Joffrey/Tommen Baratheon,Greyjoy,Tyrell,win,pitched battle,0.0,0.0,9942.541667,6428.157895,"Euron Greyjoy, Victarion Greyjoy",NaN,0.0,Shield Islands,The Reach
32,"Invasion of Ryamsport, Vinetown, and Starfish ...",300,33,Balon/Euron Greyjoy,Joffrey/Tommen Baratheon,Greyjoy,Tyrell,win,razing,0.0,0.0,9942.541667,6428.157895,"Euron Greyjoy, Victarion Greyjoy",NaN,0.0,"Ryamsport, Vinetown, Starfish Harbor",The Reach
33,Second Seige of Storm's End,300,34,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,Baratheon,win,siege,0.0,0.0,9942.541667,200.000000,"Mace Tyrell, Mathis Rowan",Gilbert Farring,0.0,Storm's End,The Stormlands
34,Siege of Dragonstone,300,35,Joffrey/Tommen Baratheon,Stannis Baratheon,Baratheon,Baratheon,win,siege,0.0,0.0,2000.000000,6428.157895,"Loras Tyrell, Raxter Redwyne",Rolland Storm,0.0,Dragonstone,The Stormlands
35,Siege of Riverrun,300,36,Joffrey/Tommen Baratheon,Robb Stark,Lannister,Tully,win,siege,0.0,0.0,3000.000000,6428.157895,"Daven Lannister, Ryman Fey, Jaime Lannister",Brynden Tully,0.0,Riverrun,The Riverlands
36,Siege of Raventree,300,37,Joffrey/Tommen Baratheon,Robb Stark,Bracken,Blackwood,win,siege,0.0,1.0,1500.000000,6428.157895,"Jonos Bracken, Jaime Lannister",Tytos Blackwood,0.0,Raventree,The Riverlands
37,Siege of Winterfell,300,38,Stannis Baratheon,Joffrey/Tommen Baratheon,Baratheon,Bolton,NaN,NaN,NaN,NaN,5000.000000,8000.000000,Stannis Baratheon,Roose Bolton,0.0,Winterfell,The North

## Converting dataframes into csv files in order to put it in the s3 bucket

In [8]:
df_battles.to_csv('battles.csv',index = 0)
df_character_deaths.to_csv('character_deaths.csv',index = 0)
df_character_predictions.to_csv('character_predictions.csv',index = 0)

## Creating s3 Client

In [9]:
import boto3
import s3fs

In [10]:
s3 = boto3.resource(service_name = 's3',
                region_name = 'ap-south-1',
                aws_access_key_id = 'AAKITA5ASKEZQQNXJQ4ACGPB',
                aws_secret_access_key = '1J+rHlSHRGGQN1Llowjea5AJsW0nchsN5s7t395OmZj')
print('s3 client successfully created')

s3 client successfully created

## Creating s3 Bucket

In [11]:
location_name = "ap-south-1"
bucket_name = "data-from-jupyter"
location = {'LocationConstraint': location_name}

try:
    bucket = s3.create_bucket(Bucket=bucket_name,CreateBucketConfiguration=location)
    print("Bucket has been created")

except Exception as e:
    print(e)

An error occurred (BucketAlreadyOwnedByYou) when calling the CreateBucket operation: Your previous request to create the named bucket succeeded and you already own it.

In [12]:
for i in s3.buckets.all():
    print(i.name)

data-from-jupyter

# Creating RDS Database in AWS

In [13]:
from sqlalchemy import create_engine

## Creating connection with RDS using Sqlalchemy

In [14]:
engine = create_engine('mysql+pymysql://admins:sample9123@database-2.cpxsdsgnrfv062zv.ap-south-2.rds.amazonaws.com')

## Creating a database named "pipeline_db"

In [15]:
try:
    pd.read_sql('create database pipeline_db',engine)
except Exception as e:
    print(e)
    print('Database created')

(pymysql.err.ProgrammingError) (1007, "Can't create database 'pipeline_db'; database exists")
[SQL: create database pipeline_db]
(Background on this error at: https://sqlalche.me/e/14/f405)
Database created

## Selecting the database to be used

In [16]:
try:
    pd.read_sql('use pipeline_db',engine)
except Exception as e:
    print(e)
    print('Database pipeline_db selected')

This result object does not return rows. It has been closed automatically.
Database pipeline_db selected

In [17]:
pd.read_sql('show databases',engine)

             Database
0  information_schema
1               mysql
2  performance_schema
3         pipeline_db
4                 sys

In [18]:
pd.read_sql_query('show tables',engine)

Empty DataFrame
Columns: [Tables_in_pipeline_db]
Index: []

# Lambda Function

This cell is replica of the lambda function created on the AWS
===================================================
import json

import boto3

import pandas as pd

from sqlalchemy import create_engine

s3 = boto3.client('s3')                       #creating s3 client

def lambda_handler(event, context):
    
    bucketname = event['Records'][0]['s3']['bucket']['name']
    
    filename = event['Records'][0]['s3']['object']['key']
    
    obj = s3.get_object(Bucket=bucketname,Key=filename)         #here we are getting the object which has the csv file.
    
    df = pd.read_csv(obj['Body'],index_col=0)       #creating a dataframe of the csv by extracting it from the onject.
    
    tablename = filename[:-4]             #the filename has .csv in the end. Here we create table name excluding'.csv'.
    
    engine = create_engine('mysql+pymysql://mysql+pymysql://admins:sample9123@database-2.cpxsdsgnrfv062zv.ap-south-2.rds.amazonaws.com/pipeline_db')
    
    df.to_sql(tablename,engine,if_exists='replace',index=False)
    
    return {
        'statusCode': 200,
        'body': json.dumps('Hello from Lambda!')
    }

## Uploading  1st file to s3 bucket

In [19]:
s3.Bucket('data-from-jupyter').upload_file(Filename = 'battles.csv',Key = 'battles.csv')
print('Successfully uploaded')

Successfully uploaded

## Data Uploaded into RDS by Lambda
## You can see 1 table in the RDS

In [20]:
pd.read_sql_query('show tables',engine)

  Tables_in_pipeline_db
0               battles

## Uploading 2nd file to s3 bucket

In [21]:
s3.Bucket('data-from-jupyter').upload_file(Filename = 'character_deaths.csv',Key = 'character_deaths.csv')
print('Successfully uploaded')

Successfully uploaded

## Data Uploaded into RDS by Lambda
## You can see 2 tables in the RDS

In [22]:
pd.read_sql_query('show tables',engine)

  Tables_in_pipeline_db
0               battles
1      character_deaths

## Uploading 3rd file to s3 bucket

In [23]:
s3.Bucket('data-from-jupyter').upload_file(Filename = 'character_predictions.csv',Key = 'character_predictions.csv')
print('Successfully uploaded')

Successfully uploaded

## Data Uploaded into RDS by Lambda
## You can see 3 tables in the RDS

In [24]:
pd.read_sql_query('show tables',engine)

   Tables_in_pipeline_db
0                battles
1       character_deaths
2  character_predictions

In [25]:
pd.read_sql_query('desc battles',engine)

                 Field    Type Null Key Default Extra
0                 year  bigint  YES        None
1        battle_number  bigint  YES        None
2        attacker_king    text  YES        None
3        defender_king    text  YES        None
4           attacker_1    text  YES        None
5           defender_1    text  YES        None
6     attacker_outcome    text  YES        None
7          battle_type    text  YES        None
8          major_death  double  YES        None
9        major_capture  double  YES        None
10       attacker_size  double  YES        None
11       defender_size  double  YES        None
12  attacker_commander    text  YES        None
13  defender_commander    text  YES        None
14              summer  double  YES        None
15            location    text  YES        None
16              region    text  YES        None

In [26]:
pd.read_sql_query('desc character_deaths',engine)

                 Field    Type Null Key Default Extra
0          Allegiances    text  YES        None
1           Death Year  double  YES        None
2        Book of Death  double  YES        None
3        Death Chapter  double  YES        None
4   Book Intro Chapter  double  YES        None
5               Gender  bigint  YES        None
6             Nobility  bigint  YES        None
7                  GoT  bigint  YES        None
8                  CoK  bigint  YES        None
9                  SoS  bigint  YES        None
10                 FfC  bigint  YES        None
11                 DwD  bigint  YES        None

In [27]:
pd.read_sql_query('desc character_predictions',engine)

                Field    Type Null Key Default Extra
0              actual  bigint  YES        None
1                pred  bigint  YES        None
2               alive  double  YES        None
3                plod  double  YES        None
4                name    text  YES        None
5               title    text  YES        None
6                male  bigint  YES        None
7             culture    text  YES        None
8         dateOfBirth  double  YES        None
9         DateoFdeath  double  YES        None
10             mother    text  YES        None
11             father    text  YES        None
12               heir    text  YES        None
13              house    text  YES        None
14             spouse    text  YES        None
15              book1  bigint  YES        None
16              book2  bigint  YES        None
17              book3  bigint  YES        None
18              book4  bigint  YES        None
19              book5  bigint  YES        None
20      isAliveMother  double  YES        None
21      isAliveFather  double  YES        None
22        isAliveHeir  double  YES        None
23      isAliveSpouse  double  YES        None
24          isMarried  bigint  YES        None
25            isNoble  bigint  YES        None
26                age  double  YES        None
27   numDeadRelations  bigint  YES        None
28  boolDeadRelations  bigint  YES        None
29          isPopular  bigint  YES        None
30         popularity  double  YES        None
31            isAlive  bigint  YES        None